<%= render "header" %>
<br/>
<h3>RECENT ACTIVITY:</h3>
<% if @movies %>
	<div style="text-align:center">
		<% @movies.each do |movie| %>
			<div style="display: inline-block">
				<%= render movie %>
			</div>			
		<% end %>
	</div>
<% end %>


